body {
	margin: 0;
	padding-top: 50px;
}

#glcanvas {
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
	display: block;
	margin: 0 auto;
}

#server_full_error {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    display: none;
}

#server_full_error h1 {
    font-size: 80px;
}

#server_full_error p {
    font-size: 30px;
}